/* src/app/page.module.css */
.container {
  background-color: #855dcd;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
  color: #855dcd;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

.button:hover {
  background-color: #e0e0e0;
}

.referralSection {
  margin-top: 30px;
}

.referralInput {
  width: 300px;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 5px;
}